services:
    idci_notification.manager.notification:
        class: IDCI\Bundle\NotificationBundle\Manager\NotificationManager
        arguments: [@doctrine.orm.entity_manager, @event_dispatcher]

    idci_notification.manager.notifierconfiguration:
        class: IDCI\Bundle\NotificationBundle\Manager\NotifierConfigurationManager
        arguments: [@doctrine.orm.entity_manager, @event_dispatcher]

    idci_notification.form.type.notifier_choice:
        class: IDCI\Bundle\NotificationBundle\Form\Type\NotifierChoiceType
        arguments: [%idci_notification.notifiers%]
        tags:
            - { name: form.type, alias: notifier_choice }

    idci_notification.form.type.certificate:
        class: IDCI\Bundle\NotificationBundle\Form\Type\CertificateType
        arguments: [%idci_notification.notifiers.configuration%]
        tags:
            - { name: form.type, alias: certificate }

    idci_notification.form.type.abstract_notification:
        class: IDCI\Bundle\NotificationBundle\Form\Type\AbstractNotificationType
        arguments: [null, null]
        abstract:  true

    idci_notification.form.type.abstract_notifier_configuration:
        class: IDCI\Bundle\NotificationBundle\Form\Type\AbstractNotifierConfigurationType
        arguments: [null, null]
        abstract:  true

    ## Notifiers

    idci_notification.notifier.email:
        class: IDCI\Bundle\NotificationBundle\Notifier\EmailNotifier
        arguments: [@doctrine.orm.entity_manager, %idci_notification.default_configuration.email%]
        tags:
            - { name: idci_notification.notifier, alias: email }

    idci_notification.notifier.facebook:
        class: IDCI\Bundle\NotificationBundle\Notifier\FacebookNotifier
        arguments: [@doctrine.orm.entity_manager, %idci_notification.default_configuration.facebook%]
        tags:
            - { name: idci_notification.notifier, alias: facebook }

    idci_notification.notifier.mail:
        class: IDCI\Bundle\NotificationBundle\Notifier\MailNotifier
        arguments: [@doctrine.orm.entity_manager, %idci_notification.default_configuration.mail%]
        tags:
            - { name: idci_notification.notifier, alias: mail }

    idci_notification.notifier.sms:
        class: IDCI\Bundle\NotificationBundle\Notifier\SmsNotifier
        arguments: [@doctrine.orm.entity_manager, %idci_notification.default_configuration.sms%]
        tags:
            - { name: idci_notification.notifier, alias: sms }

    idci_notification.notifier.twitter:
        class: IDCI\Bundle\NotificationBundle\Notifier\TwitterNotifier
        arguments: [@doctrine.orm.entity_manager, %idci_notification.default_configuration.twitter%, @da_api_client.api.twitter]
        tags:
            - { name: idci_notification.notifier, alias: twitter }

    idci_notification.notifier.iOSPush:
        class: IDCI\Bundle\NotificationBundle\Notifier\IOSPushNotifier
        arguments: [@doctrine.orm.entity_manager, %idci_notification.default_configuration.iOSPush%]
        tags:
            - { name: idci_notification.notifier, alias: iOSPush }
